$base-theme:Bootstrap;
$skin-name:blue;
$accent: #188ae2;
$secondary: #f3f6f8;
$info: #35b8e0;
$success: #31ce77;
$warning: #fbcc5c;
$error: #dc3545;
$body-bg: #ffffff;
$body-color: #292b2c;
$component-bg: #ffffff;
$component-color: #292b2c;
$card-cap-bg: #f7f7f9;
$card-cap-color: #292b2c;
$series-a: #0275d8;
$series-b: #5bc0de;
$series-c: #5cb85c;
$series-d: #f0ad4e;
$series-e: #e67d4a;
$series-f: #d9534f;
