.info-ul li {
    color: #888;
}

#asphaltList {
    overflow-x: hidden;
    overflow-y: scroll;
    line-height: 30px;
}

#asphaltList::-webkit-scrollbar {
    display: none;
}

.content > .container-fluid {
    margin-top: 20px;
}

tr {
    border-bottom: 1px solid #e6e6e6;
}

.r-page-title {
    background: #fff;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    line-height: 45px;
}


.r-page-title {
    line-height: 45px;
}

.row {
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.r-page-title {
    background: #fff;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
}

.r-page-title {
    line-height: 45px;
}

.r-page-title .title-text {
    font-size: 1.3em;
    color: #444;
}

.col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.text-right {
    text-align: right !important;
}

.bj_fff {
    background: #fff;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.info-ul li {
    list-style: none;
    border-bottom: 1px dotted #eee;
    line-height: 30px;
    color: #222;
}

.info-ul li span {
    color: #888;
}

ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

.col-12, .col-md-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.container-fluid {
    padding: 0 15px 15px 15px;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}