<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linghang.mapper.business.water.WaterSieveSettingMapper">
    <resultMap id="BaseResultMap" type="com.linghang.model.business.water.WaterSieveSettingModel">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="updateUser" jdbcType="BIGINT" property="updateUser"/>
        <result column="formulaId" jdbcType="BIGINT" property="formulaId"/>
        <result column="level" jdbcType="INTEGER" property="level"/>
        <result column="formulaValue" jdbcType="DECIMAL" property="formulaValue"/>
        <result column="firstHigh" jdbcType="DECIMAL" property="firstHigh"/>
        <result column="firstLow" jdbcType="DECIMAL" property="firstLow"/>
        <result column="secondHigh" jdbcType="DECIMAL" property="secondHigh"/>
        <result column="secondLow" jdbcType="DECIMAL" property="secondLow"/>
        <result column="threeHigh" jdbcType="DECIMAL" property="threeHigh"/>
        <result column="threeLow" jdbcType="DECIMAL" property="threeLow"/>
        <result column="g1" jdbcType="DECIMAL" property="g1"/>
        <result column="g2" jdbcType="DECIMAL" property="g2"/>
        <result column="g3" jdbcType="DECIMAL" property="g3"/>
        <result column="g4" jdbcType="DECIMAL" property="g4"/>
        <result column="g5" jdbcType="DECIMAL" property="g5"/>
        <result column="g6" jdbcType="DECIMAL" property="g6"/>
        <result column="g7" jdbcType="DECIMAL" property="g7"/>
        <result column="g8" jdbcType="DECIMAL" property="g8"/>
        <result column="g9" jdbcType="DECIMAL" property="g9"/>
        <result column="g10" jdbcType="DECIMAL" property="g10"/>
        <result column="dataVersion" jdbcType="INTEGER" property="dataVersion"/>
        <result column="isVisible" jdbcType="INTEGER" property="isVisible"/>
    </resultMap>

    <sql id="Base_Column_List">
        updateTime, updateUser, formulaId, level, formulaValue, firstHigh, firstLow,secondHigh,secondLow,threeHigh,threeLow, g1, g2, g3, g4,
        g5, g6, g7, g8, g9, g10, dataVersion, isVisible
    </sql>

    <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select * 
        from imp_water_sieve_setting
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete from imp_water_sieve_setting
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <delete id="deleteByIds" parameterType="java.util.List">
        delete from imp_water_sieve_setting
        where id in
        <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
            #{item}
        </foreach>
    </delete>

    <insert id="insert" keyProperty="id" parameterType="com.linghang.model.business.water.WaterSieveSettingModel">
        insert into imp_water_sieve_setting (
        <include refid="Base_Column_List"/>
        )
        values (#{updateTime,jdbcType=TIMESTAMP},
        #{updateUser,jdbcType=BIGINT},
        #{formulaId,jdbcType=BIGINT},
        #{level,jdbcType=INTEGER},
        #{formulaValue,jdbcType=DECIMAL},
        #{firstHigh,jdbcType=DECIMAL},
        #{firstLow,jdbcType=DECIMAL},
        #{secondHigh,jdbcType=DECIMAL},
        #{secondLow,jdbcType=DECIMAL},
        #{threeHigh,jdbcType=DECIMAL},
        #{threeLow,jdbcType=DECIMAL},
        #{g1,jdbcType=DECIMAL},
        #{g2,jdbcType=DECIMAL},
        #{g3,jdbcType=DECIMAL},
        #{g4,jdbcType=DECIMAL},
        #{g5,jdbcType=DECIMAL},
        #{g6,jdbcType=DECIMAL},
        #{g7,jdbcType=DECIMAL},
        #{g8,jdbcType=DECIMAL},
        #{g9,jdbcType=DECIMAL},
        #{g10,jdbcType=DECIMAL},
        #{dataVersion,jdbcType=INTEGER},
        #{isVisible,jdbcType=INTEGER}
        )
    </insert>

    <insert id="insertList" parameterType="java.util.List">
        <foreach collection="list" index="index" item="item" separator=";">
            insert into imp_water_sieve_setting (
            id,
            <include refid="Base_Column_List"/>
            )
            values (
            #{item.id,jdbcType=INTEGER},
            #{item.updateTime,jdbcType=TIMESTAMP},
            #{item.updateUser,jdbcType=BIGINT},
            #{item.formulaId,jdbcType=BIGINT},
            #{item.level,jdbcType=INTEGER},
            #{item.formulaValue,jdbcType=DECIMAL},
            #{item.firstHigh,jdbcType=DECIMAL},
            #{item.firstLow,jdbcType=DECIMAL},
            #{item.secondHigh,jdbcType=DECIMAL},
            #{item.secondLow,jdbcType=DECIMAL},
            #{item.threeHigh,jdbcType=DECIMAL},
            #{item.threeLow,jdbcType=DECIMAL},
            #{item.g1,jdbcType=DECIMAL},
            #{item.g2,jdbcType=DECIMAL},
            #{item.g3,jdbcType=DECIMAL},
            #{item.g4,jdbcType=DECIMAL},
            #{item.g5,jdbcType=DECIMAL},
            #{item.g6,jdbcType=DECIMAL},
            #{item.g7,jdbcType=DECIMAL},
            #{item.g8,jdbcType=DECIMAL},
            #{item.g9,jdbcType=DECIMAL},
            #{item.g10,jdbcType=DECIMAL},
            #{item.dataVersion,jdbcType=INTEGER},
            #{item.isVisible,jdbcType=INTEGER}
            )
        </foreach>
    </insert>

    <select id="selectByModel" parameterType="com.linghang.model.business.water.WaterSieveSettingModel"
            resultMap="BaseResultMap">
        select * from imp_water_sieve_setting where 1 = 1
        <if test="updateTime != null">
            and updateTime = #{updateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="updateUser != null">
            and updateUser = #{updateUser,jdbcType=BIGINT}
        </if>
        <if test="formulaId != null">
            and formulaId = #{formulaId,jdbcType=BIGINT}
        </if>
        <if test="level != null">
            and level = #{level,jdbcType=INTEGER}
        </if>
        <if test="formulaValue != null">
            and formulaValue = #{formulaValue,jdbcType=DECIMAL}
        </if>
        <if test="g1 != null">
            and g1 = #{g1,jdbcType=DECIMAL}
        </if>
        <if test="g2 != null">
            and g2 = #{g2,jdbcType=DECIMAL}
        </if>
        <if test="g3 != null">
            and g3 = #{g3,jdbcType=DECIMAL}
        </if>
        <if test="g4 != null">
            and g4 = #{g4,jdbcType=DECIMAL}
        </if>
        <if test="g5 != null">
            and g5 = #{g5,jdbcType=DECIMAL}
        </if>
        <if test="g6 != null">
            and g6 = #{g6,jdbcType=DECIMAL}
        </if>
        <if test="g7 != null">
            and g7 = #{g7,jdbcType=DECIMAL}
        </if>
        <if test="g8 != null">
            and g8 = #{g8,jdbcType=DECIMAL}
        </if>
        <if test="g9 != null">
            and g9 = #{g9,jdbcType=DECIMAL}
        </if>
        <if test="g10 != null">
            and g10 = #{g10,jdbcType=DECIMAL}
        </if>
        <if test="dataVersion != null">
            and dataVersion = #{dataVersion,jdbcType=INTEGER}
        </if>
        <if test="isVisible != null">
            and isVisible = #{isVisible,jdbcType=INTEGER}
        </if>
    </select>
    <select id="selectByFormulaId" resultMap="BaseResultMap">
        select * from imp_water_sieve_setting where formulaId=#{formulaId,jdbcType=BIGINT} and isVisible=0
    </select>

    <insert id="insertSelective" keyProperty="id"
            parameterType="com.linghang.model.business.water.WaterSieveSettingModel">
        insert into imp_water_sieve_setting
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="updateTime != null">
                updateTime,
            </if>
            <if test="updateUser != null">
                updateUser,
            </if>
            <if test="formulaId != null">
                formulaId,
            </if>
            <if test="level != null">
                level,
            </if>
            <if test="formulaValue != null">
                formulaValue,
            </if>
            <if test="g1 != null">
                g1,
            </if>
            <if test="g2 != null">
                g2,
            </if>
            <if test="g3 != null">
                g3,
            </if>
            <if test="g4 != null">
                g4,
            </if>
            <if test="g5 != null">
                g5,
            </if>
            <if test="g6 != null">
                g6,
            </if>
            <if test="g7 != null">
                g7,
            </if>
            <if test="g8 != null">
                g8,
            </if>
            <if test="g9 != null">
                g9,
            </if>
            <if test="g10 != null">
                g10,
            </if>
            <if test="dataVersion != null">
                dataVersion,
            </if>
            <if test="isVisible != null">
                isVisible,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=BIGINT},
            </if>
            <if test="formulaId != null">
                #{formulaId,jdbcType=BIGINT},
            </if>
            <if test="level != null">
                #{level,jdbcType=INTEGER},
            </if>
            <if test="formulaValue != null">
                #{formulaValue,jdbcType=DECIMAL},
            </if>
            <if test="g1 != null">
                #{g1,jdbcType=DECIMAL},
            </if>
            <if test="g2 != null">
                #{g2,jdbcType=DECIMAL},
            </if>
            <if test="g3 != null">
                #{g3,jdbcType=DECIMAL},
            </if>
            <if test="g4 != null">
                #{g4,jdbcType=DECIMAL},
            </if>
            <if test="g5 != null">
                #{g5,jdbcType=DECIMAL},
            </if>
            <if test="g6 != null">
                #{g6,jdbcType=DECIMAL},
            </if>
            <if test="g7 != null">
                #{g7,jdbcType=DECIMAL},
            </if>
            <if test="g8 != null">
                #{g8,jdbcType=DECIMAL},
            </if>
            <if test="g9 != null">
                #{g9,jdbcType=DECIMAL},
            </if>
            <if test="g10 != null">
                #{g10,jdbcType=DECIMAL},
            </if>
            <if test="dataVersion != null">
                #{dataVersion,jdbcType=INTEGER},
            </if>
            <if test="isVisible != null">
                #{isVisible,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateByIdSelective" parameterType="com.linghang.model.business.water.WaterSieveSettingModel">
        update imp_water_sieve_setting
        <set>
            <if test="updateTime != null">
                updateTime = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                updateUser = #{updateUser,jdbcType=BIGINT},
            </if>
            <if test="formulaId != null">
                formulaId = #{formulaId,jdbcType=BIGINT},
            </if>
            <if test="level != null">
                level = #{level,jdbcType=INTEGER},
            </if>
            <if test="formulaValue != null">
                formulaValue = #{formulaValue,jdbcType=DECIMAL},
            </if>
            <if test="g1 != null">
                g1 = #{g1,jdbcType=DECIMAL},
            </if>
            <if test="g2 != null">
                g2 = #{g2,jdbcType=DECIMAL},
            </if>
            <if test="g3 != null">
                g3 = #{g3,jdbcType=DECIMAL},
            </if>
            <if test="g4 != null">
                g4 = #{g4,jdbcType=DECIMAL},
            </if>
            <if test="g5 != null">
                g5 = #{g5,jdbcType=DECIMAL},
            </if>
            <if test="g6 != null">
                g6 = #{g6,jdbcType=DECIMAL},
            </if>
            <if test="g7 != null">
                g7 = #{g7,jdbcType=DECIMAL},
            </if>
            <if test="g8 != null">
                g8 = #{g8,jdbcType=DECIMAL},
            </if>
            <if test="g9 != null">
                g9 = #{g9,jdbcType=DECIMAL},
            </if>
            <if test="g10 != null">
                g10 = #{g10,jdbcType=DECIMAL},
            </if>
            <if test="dataVersion != null">
                dataVersion = #{dataVersion,jdbcType=INTEGER},
            </if>
            <if test="isVisible != null">
                isVisible = #{isVisible,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateById" parameterType="com.linghang.model.business.water.WaterSieveSettingModel">
        update imp_water_sieve_setting
        set updateTime = #{updateTime,jdbcType=TIMESTAMP},
            updateUser = #{updateUser,jdbcType=BIGINT},
            formulaId = #{formulaId,jdbcType=BIGINT},
            level = #{level,jdbcType=INTEGER},
            formulaValue = #{formulaValue,jdbcType=DECIMAL},
            firstHigh = #{firstHigh,jdbcType=DECIMAL},
            firstLow = #{firstLow,jdbcType=DECIMAL},
            secondHigh = #{secondHigh,jdbcType=DECIMAL},
            secondLow = #{secondLow,jdbcType=DECIMAL},
            threeHigh = #{threeHigh,jdbcType=DECIMAL},
            threeLow = #{threeLow,jdbcType=DECIMAL},
            g1 = #{g1,jdbcType=DECIMAL},
            g2 = #{g2,jdbcType=DECIMAL},
            g3 = #{g3,jdbcType=DECIMAL},
            g4 = #{g4,jdbcType=DECIMAL},
            g5 = #{g5,jdbcType=DECIMAL},
            g6 = #{g6,jdbcType=DECIMAL},
            g7 = #{g7,jdbcType=DECIMAL},
            g8 = #{g8,jdbcType=DECIMAL},
            g9 = #{g9,jdbcType=DECIMAL},
            g10 = #{g10,jdbcType=DECIMAL},
            dataVersion = #{dataVersion,jdbcType=INTEGER},
            isVisible = #{isVisible,jdbcType=INTEGER}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateBeforeVersionVisible">
        update imp_water_sieve_setting set isVisible=1 where formulaId=#{formulaId,jdbcType=BIGINT}
    </update>

    <!--查询对应版本-->
    <select id="selectByFormulaIdAndSieveVersion" resultMap="BaseResultMap">
       select * from imp_water_sieve_setting
       where formulaId=#{formulaId,jdbcType=BIGINT}
       and dataVersion=#{dataVersion,jdbcType=BIGINT}
    </select>
</mapper>