<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linghang.mapper.StakeGroupMapper">
    <resultMap id="BaseResultMap" type="com.linghang.model.StakeGroupModel">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="orgId" jdbcType="BIGINT" property="orgId"/>
        <result column="startStake" jdbcType="DECIMAL" property="startStake"/>
        <result column="endStake" jdbcType="DECIMAL" property="endStake"/>
        <result column="width" jdbcType="DECIMAL" property="width"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
    </resultMap>

    <resultMap id="ResultMapWithDetail" extends="BaseResultMap" type="com.linghang.model.StakeGroupModel">
        <association property="stakeList" column="id" select="com.linghang.mapper.StakeMapper.selectByGroupId"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, orgId, startStake, endStake, width, name, type
    </sql>

    <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select * 
        from tbl_stake_group
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete from tbl_stake_group
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <delete id="deleteByIds" parameterType="java.util.List">
        delete from tbl_stake_group
        where id in
        <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
            #{item}
        </foreach>
    </delete>

    <insert id="insert" keyProperty="id" parameterType="com.linghang.model.StakeGroupModel">
        insert into tbl_stake_group (
        <include refid="Base_Column_List"/>
        )
        values (#{id,jdbcType=BIGINT},#{orgId,jdbcType=BIGINT},
        #{startStake,jdbcType=DECIMAL},
        #{endStake,jdbcType=DECIMAL},
        #{width,jdbcType=DECIMAL},
        #{name,jdbcType=VARCHAR},
        #{type,jdbcType=VARCHAR}
        )
    </insert>

    <insert id="insertList" parameterType="java.util.List">
        <foreach collection="list" index="index" item="item" separator=";">
            insert into tbl_stake_group (
            <include refid="Base_Column_List"/>
            )
            values (#{item.id,jdbcType=BIGINT},#{item.orgId,jdbcType=BIGINT},
            #{item.startStake,jdbcType=DECIMAL},
            #{item.endStake,jdbcType=DECIMAL},
            #{item.width,jdbcType=DECIMAL},
            #{item.name,jdbcType=VARCHAR},
            #{item.type,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <select id="selectByModel" parameterType="com.linghang.model.StakeGroupModel" resultMap="BaseResultMap">
        select * from tbl_stake_group where 1 = 1
        <if test="orgId != null">
            and orgId = #{orgId,jdbcType=BIGINT}
        </if>
        <if test="startStake != null">
            and startStake = #{startStake,jdbcType=DECIMAL}
        </if>
        <if test="endStake != null">
            and endStake = #{endStake,jdbcType=DECIMAL}
        </if>
        <if test="width != null">
            and width = #{width,jdbcType=DECIMAL}
        </if>
        <if test="name != null">
            and name = #{name,jdbcType=VARCHAR}
        </if>
        <if test="type != null">
            and type = #{type,jdbcType=VARCHAR}
        </if>
        order by id asc
    </select>
    <select id="selectWithDetailByModel" parameterType="com.linghang.model.StakeGroupModel"
            resultMap="ResultMapWithDetail">
        select * from tbl_stake_group where 1 = 1
        <if test="orgId != null">
            and orgId = #{orgId,jdbcType=BIGINT}
        </if>
        <if test="startStake != null">
            and startStake = #{startStake,jdbcType=DECIMAL}
        </if>
        <if test="endStake != null">
            and endStake = #{endStake,jdbcType=DECIMAL}
        </if>
        <if test="width != null">
            and width = #{width,jdbcType=DECIMAL}
        </if>
        <if test="name != null">
            and name = #{name,jdbcType=VARCHAR}
        </if>
        <if test="type != null">
            and type = #{type,jdbcType=VARCHAR}
        </if>
        order by id
    </select>

    <insert id="insertSelective" keyProperty="id" parameterType="com.linghang.model.StakeGroupModel">
        insert into tbl_stake_group
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="orgId != null">
                orgId,
            </if>
            <if test="startStake != null">
                startStake,
            </if>
            <if test="endStake != null">
                endStake,
            </if>
            <if test="width != null">
                width,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="type != null">
                type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{id,jdbcType=BIGINT},
            <if test="orgId != null">
                #{orgId,jdbcType=BIGINT},
            </if>
            <if test="startStake != null">
                #{startStake,jdbcType=DECIMAL},
            </if>
            <if test="endStake != null">
                #{endStake,jdbcType=DECIMAL},
            </if>
            <if test="width != null">
                #{width,jdbcType=DECIMAL},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByIdSelective" parameterType="com.linghang.model.StakeGroupModel">
        update tbl_stake_group
        <set>
            <if test="orgId != null">
                orgId = #{orgId,jdbcType=BIGINT},
            </if>
            <if test="startStake != null">
                startStake = #{startStake,jdbcType=DECIMAL},
            </if>
            <if test="endStake != null">
                endStake = #{endStake,jdbcType=DECIMAL},
            </if>
            <if test="width != null">
                width = #{width,jdbcType=DECIMAL},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateById" parameterType="com.linghang.model.StakeGroupModel">
        update tbl_stake_group
        set orgId = #{orgId,jdbcType=BIGINT},
            startStake = #{startStake,jdbcType=DECIMAL},
            endStake = #{endStake,jdbcType=DECIMAL},
            width = #{width,jdbcType=DECIMAL},
            name = #{name,jdbcType=VARCHAR},
            type = #{type,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByNameAndOrgId" parameterType="com.linghang.model.StakeGroupModel">
        <selectKey keyProperty='id' resultType='java.lang.Long' order='BEFORE'>
            SELECT
            (select id FROM tbl_stake_group WHERE
            name = #{name,jdbcType=VARCHAR} and orgId = #{orgId,jdbcType=BIGINT}) id
        </selectKey>
        update tbl_stake_group
        set
        startStake = #{startStake,jdbcType=VARCHAR},
        endStake = #{endStake,jdbcType=VARCHAR},
        width = #{width,jdbcType=DECIMAL},
        type = #{type,jdbcType=INTEGER}
        where name = #{name,jdbcType=VARCHAR} and orgId = #{orgId,jdbcType=BIGINT}
    </update>

</mapper>